BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 80
IndentAccessModifiers: false
AccessModifierOffset: -1
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
InsertNewlineAtEOF: true
BreakBeforeBraces: Stroustrup
AlignArrayOfStructures: Right